// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
  font-size: 1.3em;
  font-family: Calibri, serif;
  text-align: center;
  background-color: #c4dee4;
  padding: 1px 10px;
  border: 1px solid blue;
  border-radius: 12px;
}
